@import 'components/grid.css';
@import 'components/img.css';
@import 'components/nav.css';
@import 'components/twinkler.css';

html, body {
    height: 100%;
    margin: 0;
}

body {
    background-image: url("../images/stars_background.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}
