.bio-frame {
    color: white;
    width: 60%;
    margin: 1rem auto;
    text-align: justify;
    padding: 1.5rem 2rem;
    overflow: scroll;
    font-size: 1.1rem;
    box-shadow: 0 0 20px 5px #ff9afc;
    border-radius: 10px;
}