.album-cover {
    height: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 650px 1fr;
}

h1 {
    grid-column-start: 1;
}

img {
    grid-column-start: 2;
    width: 100%;
    margin: auto;
}

nav {
    grid-column-start: 3;
}